@model IEnumerable<QL_PHONGGYM.ViewModel.GioHangViewModel>
@{
    ViewBag.Title = "ToCheckOut";
    Layout = "~/Views/Shared/_LayoutPageCart.cshtml";
}

<div class="mt-2 w-50 d-flex flex-column mx-auto justify-content-center px-5" style="margin-top: 200px">
    <div class="py-3 position-relative border-bottom border-1">
        <a href="@Url.Action("Index", "Home")" class="text-decoration-none position-absolute"><img src="@Url.Content("~/Content/Images/back.png")" style="width: 1.6rem; left: 3rem" /></a>
        <div class="w-100 text-center">
            <span class="fs-5 fw-bold text-black">Giỏ hàng của bạn</span>
        </div>
    </div>
    <div class="w-100 mt-3 d-flex flex-column">
        <a class="btn bg-primary text-white fw-semibold fs-6" href="@Url.Action("ToCheckOut", "CartCheckout")" style="width: 7rem">Giỏ hàng</a>
        <div class="d-flex justify-content-between mt-3">
            <div>
                <input id="selectAll" type="checkbox" class="form-check-input" />
                <label class="form-check-label small" for="selectAll">Chọn tất cả</label>
            </div>
            <button class="text-muted small fst-italic p-0 border-0 bg-transparent">Xóa sản phẩm đã chọn</button>
        </div>
    </div>
    @foreach (var item in Model)
    {
        
    }
</div>

